@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-form-item-explain-error {
  font-size: 13px;
}@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-form-item-explain-error {
  font-size: 13px;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

canvas {
  width: 98vmin;
  height: 98vmin;
}